Django==1.6.2
dateutils==0.6.6
dj-database-url==0.3.0
dj-static==0.0.5
django-toolbelt==0.0.1
gunicorn==18.0
ipython==0.14.dev
matplotlib==1.2.x
nose==1.3.1
numpy==1.8.0
pika==0.9.13
prettytable==0.7.2
psycopg2==2.5.2
pymc==2.2
pystache==0.5.3
python-dateutil==2.2
pyzmq==14.0.1
readline==6.2.4.1
scikit-learn==0.12-git
scipy==0.10.1
six==1.6.1
static==1.0.2
statsmodels==0.5.0
tornado==3.2
wsgiref==0.1.2
